*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  font-style: normal;
  text-decoration: none;
}

.list {
  list-style: none;
}



// modal
.bacckdrop {
  background: radial-gradient(ellipse at top,
      #4764a8,
      #a28fd6,
      #b1b0df);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  height: 100%;
  padding-top: 127px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bacckdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// FORM AND ELEMENTS
.form_sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.form_sign input {
  padding: 20px 173px 20px 40px;
  cursor: text;
  border-radius: 40px;
}

.input:not(:first-child) {
  margin-top: 28px;
}

.input:hover {
  border-color: #EAC645;
}

.input:focus {
  border-color: #EAC645;
}


.form_sign button {
  margin-top: 40px;
  cursor: pointer;
  border-radius: 40px;
  padding: 20px 173px;
  background: #111111;
  color: #F3F3F3;
}

.form_sign button:hover {
  background: #EAC645;
  color: #111111;
}

.form_sign button:focus {
  background: #EAC645;
  color: #111111;
}

.sign_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.close {
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
}

.wrap_modal_sign {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-modal {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 31px;
  top: 31px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


// scrol up
#scrollup {
  position: fixed;
  z-index: 99999;
  bottom: 20px;
  right: 50%;

  background-color: #4F2EE8;
  border-radius: 50%;
  padding: 20px;

  font-size: 50px;
  color: #FFFFFF;

  cursor: pointer;
  animation: pulsing 5s infinite;
}
@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
  }
}

.isshowbtn {
  opacity: 1;
  transition: 0.7s;

  &__hide {
    opacity: 0;
  }
}




.signUpBtn {
  
}