*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  font-style: normal;
  text-decoration: none;
}

.list {
  list-style: none;
}


body {
  background: blue;

}


.wrap {
  width: 579px;
  height: 516px;
  background-color: #D0D0D0;

  margin-left: auto;
  margin-right: auto;

  flex-direction: column;

  padding: 12px;
  border-radius: 18px;


}

.form_sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_sign input {
  padding: 20px 173px 20px 40px;
  cursor: text;
  border-radius: 40px;
}

input:not(:first-child) {
margin-top: 28px;
}


.form_sign button {
  margin-top: 40px;
  cursor: pointer;
  border-radius: 40px;
  padding: 20px 173px;
  background: #111111;
  color: #F3F3F3;
}

.form_sign button:hover {
  background: #EAC645;
  color: #111111;
}

.form_sign button:focus {
  background: #EAC645;
  color: #111111;
}