<button class="signUpBtn" data-modal-open-sign>
  <p>Sign up</p>
  <i class="fa-solid fa-arrow-right" style="color: #ddd608;"></i>
</button>


<div class="bacckdrop is-hidden" data-modal-sign>

  <div class="wrap_modal_sign">

    <button type="button" class="close-modal" data-modal-close-sign>
      <i class="fa-solid fa-xmark fa-fade fa-xl" style="color: #ff0000;"></i>
    </button>

    <form action="submit" class="form_sign">
      <input placeholder="NAME" class="name input" type="text">

      <input placeholder="EMAIL" class="email input" type="email" name="email" />

      <input placeholder="PASSWORD" class="pass input" type="password" name="password" id="">

      <button>Sign up</button>
    </form>
    <ul class="list sign_list">
      <li><a href="">sign up</a></li>
      <li><a href="">sign in</a></li>
    </ul>
  </div>

</div>

<div>
  <div class="post is-hidden">
    <img class="post_img" src="https://picsum.photos/1400/500?grayscale" alt="baner img">
    <h2 class="header">Lorem, ipsum.</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi totam libero exercitationem. Natus quibusdam,
      reiciendis accusamus id perspiciatis vitae deserunt repellat hic quia, molestias ad expedita ipsum harum
      cupiditate iure?</p>
  </div>

  <div class="post">
    <img class="post_img" src="https://picsum.photos/1400/500?grayscale" alt="baner img">
    <h2 class="header">Lorem, ipsum.</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi totam libero exercitationem. Natus quibusdam,
      reiciendis accusamus id perspiciatis vitae deserunt repellat hic quia, molestias ad expedita ipsum harum
      cupiditate iure?</p>
  </div>

  <div class="post">
    <img class="post_img" src="https://picsum.photos/1400/500?grayscale" alt="baner img">
    <h2 class="header">Lorem, ipsum.</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi totam libero exercitationem. Natus quibusdam,
      reiciendis accusamus id perspiciatis vitae deserunt repellat hic quia, molestias ad expedita ipsum harum
      cupiditate iure?</p>
  </div>

  <div class="post">
    <img class="post_img" src="https://picsum.photos/1400/500?grayscale" alt="baner img">
    <h2 class="header">Lorem, ipsum.</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi totam libero exercitationem. Natus quibusdam,
      reiciendis accusamus id perspiciatis vitae deserunt repellat hic quia, molestias ad expedita ipsum harum
      cupiditate iure?</p>
  </div>

  <div class="post">
    <img class="post_img" src="https://picsum.photos/1400/500?grayscale" alt="baner img">
    <h2 class="header">Lorem, ipsum.</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi totam libero exercitationem. Natus quibusdam,
      reiciendis accusamus id perspiciatis vitae deserunt repellat hic quia, molestias ad expedita ipsum harum
      cupiditate iure?</p>
  </div>

  <div class="post">
    <img class="post_img" src="https://picsum.photos/1400/500?grayscale" alt="baner img">
    <h2 class="header">Lorem, ipsum.</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi totam libero exercitationem. Natus quibusdam,
      reiciendis accusamus id perspiciatis vitae deserunt repellat hic quia, molestias ad expedita ipsum harum
      cupiditate iure?</p>
  </div>

  <div class="post">
    <img class="post_img" src="https://picsum.photos/1400/500?grayscale" alt="baner img">
    <h2 class="header">Lorem, ipsum.</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi totam libero exercitationem. Natus quibusdam,
      reiciendis accusamus id perspiciatis vitae deserunt repellat hic quia, molestias ad expedita ipsum harum
      cupiditate iure?</p>
  </div>

  <div class="post">
    <img class="post_img" src="https://picsum.photos/1400/500?grayscale" alt="baner img">
    <h2 class="header">Lorem, ipsum.</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi totam libero exercitationem. Natus quibusdam,
      reiciendis accusamus id perspiciatis vitae deserunt repellat hic quia, molestias ad expedita ipsum harum
      cupiditate iure?</p>
  </div>

  <div class="post">
    <img class="post_img" src="https://picsum.photos/1400/500?grayscale" alt="baner img">
    <h2 class="header">Lorem, ipsum.</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi totam libero exercitationem. Natus quibusdam,
      reiciendis accusamus id perspiciatis vitae deserunt repellat hic quia, molestias ad expedita ipsum harum
      cupiditate iure?</p>
  </div>

  <div class="post">
    <img class="post_img" src="https://picsum.photos/1400/500?grayscale" alt="baner img">
    <h2 class="header">Lorem, ipsum.</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi totam libero exercitationem. Natus quibusdam,
      reiciendis accusamus id perspiciatis vitae deserunt repellat hic quia, molestias ad expedita ipsum harum
      cupiditate iure?</p>
  </div>
</div>



<div id="scrollup" class="isshowbtn isshowbtn__hide">
  <i class="fa-solid fa-chevron-up"></i>
</div>